#pdfContainer{
    background-color: #FFF;
    width: 80%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.pdfFrame{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 600px;
}

@media screen and (max-width: 750px) {
    #pdfContainer{
        background-color: #FFF;
        width: 100%;
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
    }



}