/*Sets features of the container with all contents in it*/
#college{
    background-color: #FFF;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}
/*Changes bold font*/
#college b{
    color: gray;
}

/*Changes features of the title*/
#collegeTitle{
    color: #FFF;
    margin-bottom: 15px;
}

.text{
    margin: 10px;
    padding-top: 20px;
}

/*Specific formatting for mobile / small browsers*/

@media screen and (max-width: 550px) {

    #college{
        width: 100%;
        padding: 0px;
    }

    #college h3{
        padding: 10px;

    }

}

