#wrapper{
    padding-bottom: 5%;
}

table {
    /* table-layout: fixed; */
    width: 80%;
    margin: 1% 0% 5% 10%;
    background-color: rgb(199, 224, 216);
}

th:first-child {
    width: 45%;
    text-align: justify;
}

th:nth-child(2), th:nth-child(3){
    text-align: center;
    color: blueviolet;
    padding: 2%;
}


td {
    padding: 1% 2% 1% 2%; 
}

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: 24px;
    width: 12px;
    border-bottom: 7px solid #78b13f;
    border-right: 7px solid #78b13f;
    margin-left: 45%;
}



