/*Desktop view*/
@media screen and (min-width: 700px) {
    .latexContainer{
        width: 70%;
        height: auto;
        position: relative;   
        margin: auto;
        margin-top: 20px;
        margin-bottom: 40px; 
        transform: translateY(20px);
        background-color: rgba(255, 255, 255, 0.925);
        border-radius: 10px;
        padding-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    }    
}

@media screen and (max-width: 700px) {
    .latexContainer{
        width: 95%;
        height: auto;
        position: relative;   
        margin: auto;
        margin-bottom: 70px; 
        transform: translateY(20px);
        background-color: rgba(255, 255, 255, 0.925);
        border-radius: 10px;
        padding-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    }
}

.latexContainer h1{
    text-align: center;
    padding: 15px;
    padding-top: 30px;
}

.latexContainer h3{
    text-align: left;
    padding: 15px;
    padding-top: 30px;
    padding-left: 50px;
}

.latexContainer p{
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}

.latexContainer ul{
    list-style-type: circle;
    align-content: center;
    text-align: left;
    list-style-position: inside;
    padding-left: 60px;
}