/*Contains formatting for div that holds flyer and registration form*/
#form{
    background-color: #FFF;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}

.registration{

    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
    margin: 80px;
    padding-bottom: 30px;
    text-align: center;
    height: 500px;
    width: 600px;
    /* overflow: hidden; */
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.registration form{
    position: relative;
    transition: 0.5s;

}

.registration h1{
    padding-top: 10px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 20px;

}

.registration h3{
    
    margin-bottom: 20px;

}

.page{
    display: none;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    text-align: center;
    background: transparent;
    transition: 0.5s;
}

.registration p{
    margin-top: 15px;
    color: black !important;
    font-weight: 200;
}

.btnBox{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

form button{
    width: 110px;
    height: 35px; 
    margin: 0 10px;
    background-color: #79C255;
    outline: none;
    border: 0;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.registration input{

    width: 60%;
    border: 0;
    border-bottom: 1.5px solid #999;
    outline: none;
}

.registration input.invalid {
    background-color: #ffdddd;
}

.registration label{

    color: black;
    margin-bottom: 15px;
    
}

#part1{
    margin-top: 50px;
    transition: 0.5s;
    /* -webkit-transition: 0.5s;
    transform: translateX(0px);     */
}

#part2{
    margin: 0;
    margin-top: 80px;
    /* transform: translateX(650px);
    -webkit-transform: translateX(650px);
    transition: 0.5s;
    -webkit-transition: 0.5s; */
}

#part3{
    margin-top: 80px;
    /* transform: translateX(650px);
    -webkit-transform: translateX(650px);
    transition: 0.5s;
    -webkit-transition: 0.5s; */
}

#part4{
    margin-top: 80px;
    /* transform: translateX(650px);
    -webkit-transform: translateX(650px);
    transition: 0.5s;
    -webkit-transition: 0.5s; */

}

.stepRow{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2.5px -2px #000;    
    position: relative;
    overflow: hidden;
}

.stepCol{
    width: 25%;
    text-align: center;
    color: #333;
    position: relative;
    display: inline-block;
    margin: 0;

}

#progress{
    position: absolute;
    height: 100%;
    width: 25%;
    background: #79C255;
    transition: 1s;
    -webkit-transition: 1s;

}

#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #79C255;
}

.form-check-input{
    width: 20px !important;
    margin:5px !important;
}


.form-check-label{
    margin:5px !important;
}

.form-check{

    margin-bottom: 10px;
}

.inputSpace{
    width: 80px !important;
    margin:5px !important;
}

.choiceCol{
    width: 250px;
    text-align: left;
    display: block;
    justify-content: center;
    margin: auto;
}

#requiredTxt{
    color: red;
}

.registration textarea{
}


@media screen and (max-width: 700px) {

    .registration{
        width: auto;
        margin: 20px;
        height: 600px;
    }

    .registration input{
        width: 80%;
    }


    .registration h3{
    
        margin-bottom: 0px;
    
    }

}



/*Formatting for div holding donation selection*/
#donation{
    background-color: #FFF;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/*Div contains drop down selector for donation*/
#smart-button-container{
    text-align: center;
    margin: 0 auto;
}

/*Formatting of donations*/
#options{
    margin-top: 20px;
    margin-bottom: 15px;
}

#paypal-button-container{
    margin: 0 auto;
    width: 60%;
}

/*Formatting for the flyer*/
.imgFrame{
    width: 100%;
    display: block;
    height: auto;
    transform: scale(0.8);
    margin: 0 auto;

}

/*Specific text changes for limited offer text*/
#limited{
    font-size: 20px;
}

/*formatting for smaller screens / mobile */
@media screen and (max-width: 1100px) {

    .imgFrame{
        width: 100%;
        height: auto;

    }

    #form{
        width: 100%;
        padding: 0px;
    }

    #form h3{
        padding: 10px;

    }

    #donation{
        width: 100%;
        padding: 0px;
    }

    #donation h3{
        padding: 10px 10px 0px 10px;

    }

    #paypal-button-container{
        width: 90%;
    }

}

