#form{
    background-color: #FFF;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}

#donation{
    background-color: #FFF;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#smart-button-container{
    text-align: center;
    margin: 0 auto;
}

#options{
    margin-top: 20px;
    margin-bottom: 15px;
}

#paypal-button-container{
    margin: 0 auto;
    width: 60%;
}

.imgFrame{
    width: 100%;
    display: block;
    height: auto;
    transform: scale(0.8);
    margin: 0 auto;

}

#limited{
    font-size: 20px;
}


@media screen and (max-width: 1100px) {

    .imgFrame{
        width: 100%;
        height: auto;

    }

    #form{
        width: 100%;
        padding: 0px;
    }

    #form h3{
        padding: 10px;

    }

    #donation{
        width: 100%;
        padding: 0px;
    }

    #donation h3{
        padding: 10px 10px 0px 10px;

    }

    #paypal-button-container{
        width: 90%;
    }

}

