.peopleList
{
    width: 100%;
}

.peopleBio
{
    width: 80%;
    margin: auto;
    background-color: white;
}

.personBio
{
    min-height: 400px;
    background-color: rgb(248, 248, 248);
    padding: 20px;
    
}

.personBio p
{
    padding: 20px;
    color: black;
    text-align: left;
}
.personBio img 
{
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 150px;
    float: left;
}

.personBio h1
{
    font-size: 20px;
}

.peopleTitle 
{
    font-size: 26px;
    text-align: center;
    padding-top: 60px;
}
 
.band 
{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;

}

.peopleList h1 
{
    font-size: 9px;
}

.card 
{
    
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover 
{
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article 
{
    padding: 8px;
    display: flex;

    flex: 1;
    justify-content: space-between;
    flex-direction: column;

}

.card .personPic 
{
    height: auto;
    background-size: cover;
    background-position: center center;
    display: block;
}

.card span 
{
    font-size: 8px;
    font-weight: bold;
    color: #999;
    text-transform: capitalize; /*uppercase;*/
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.peopleTitle h2
{
    font-size: 25px;
}

/*********************************************************************************/
/* Media Queries                                                                 */
/*********************************************************************************/

@media screen and (max-width: 560px){
    #Faculty
    {
        background-color: #FFF;
        padding-bottom: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    #Students
    {
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    #ProjectMembers
    {
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    #GuestLecturers
    {
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    #FormerStudents
    {
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    #Directors
    {
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    
}

@media screen and (min-width: 430px) 
{
    .band 
    {
        grid-gap: 20px;
    }

    .peopleList h1 
    {
        font-size: 12px;
    }

    .personBio h1
    {
        font-size: 25px;
    }

    .card span 
    {
        font-size: 9px;
        font-weight: bold;
        color: #999;
        text-transform: capitalize; /*uppercase;*/
        letter-spacing: .05em;
        margin: 2em 0 0 0;
    }

    .card article
    {
        padding: 10px;
    }

    .peopleTitle h2
    {
        font-size: 30px;
    }
}

@media screen and (min-width: 560px) 
{
    .personBio img 
    {
        padding-right: 20px;
        padding-bottom: 20px;
        width: 100%;
        height: auto;
        max-width: 200px;
        float: left;
    }

    .personBio h1
    {
        font-size: 30px;
    }

    .peopleList h1 
    {
        font-size: 18px;
    }

    .card span 
    {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: capitalize; /*uppercase;*/
        letter-spacing: .05em;
        margin: 2em 0 0 0;
    }
    
    .peopleTitle h2
    {
        font-size: 35px;
    }

    #Faculty
    {
        max-width: 1000px;
        background-color: #FFF;
        padding-bottom: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        margin: auto;

    }

    #Students
    {
        max-width: 1000px;
        margin: auto;
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        
    }

    #ProjectMembers
    {
        max-width: 1000px;
        margin: auto;
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    #GuestLecturers
    {
        max-width: 1000px;
        margin: auto;
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    #FormerStudents
    {
        max-width: 1000px;
        margin: auto;
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    #Directors
    {
        max-width: 1000px;
        margin: auto;
        background-color: #FFF;
        padding-bottom: 60px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
}



/* 

.peopleContainer{
    height: 600px;
    display: flex;
}

.peopleList{
    padding: 8%;
    height: 600px;
    background-color: rgb(224, 196, 250);
}

.peopleListTitle{
    width: 100%;
    text-align: center;
    font-size: 1.8em;
}

.peopleBio{
    background-color: rgb(202, 235, 202);
}

.person{
    width: 300px;
    float: left;
    margin: 10px 10px 0px 10px;
    text-align: center;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
}

.personName{
    font-size: 30px;
}

.person img{
    width: 270px;
    height: 285px;
}

.personTitle {
    font-size: 25px;
} */
.peopleList
{
    width: 100%;
}

.peopleBio
{
    border-radius: 8px;
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}

.personBio
{
    min-height: 400px;
    background-color: rgb(253, 252, 252);
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.personBio img 
{
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 150px;
    float: left;
}

.personBio h1
{
    font-size: 20px;
}

.backToPeopleList{
    
    margin: auto;
    margin-left: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(221, 221, 221);
    outline: none;
    transition: 0.5s ease-in-out;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);


}

.backToPeopleList:hover{

    background-color: rgb(221, 221, 221, 0.5);
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}


@media screen and (max-width: 480px) 
/*Changes Bios page to fullscreen for better readability on mobile*/
{

    .peopleBio
    {
        border-radius: 8px;
        width: 100%;
        margin: auto;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);

    }


    .personBio img 
    {
        
        margin: 0 auto;
        display: block;
        padding-right: 250px;
        padding-bottom: 20px;
        width: 100%;
        max-width: 150px;
        
    }
    

    .personBio
    {
        min-height: 400px;
        background-color: rgb(253, 252, 252);
        padding: 20px;
        margin: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        height: 100%;
        overflow: hidden;
    }

    .personBio p{
        text-align: left;
        margin: 0 auto;
        position: relative;
        display: inline-block;
    }
    

}

.peopleTitle 
{
    font-size: 26px;
    text-align: center;
    padding-top: 60px;
}
 
.band 
{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;

}

.peopleList h1 
{
    font-size: 9px;
}

.card 
{
    min-height: 100%;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    position: relative;
    top: 0;
    transition: all .1s ease-in;

}

.card:hover 
{
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article 
{
    padding: 8px;
    display: flex;

    flex: 1;
    justify-content: space-between;
    flex-direction: column;

}

.card .personPic 
{
    background-size: cover;
    background-position: center center;
}

.card span 
{
    font-size: 8px;
    font-weight: bold;
    color: #999;
    text-transform: capitalize; /*uppercase;*/
    letter-spacing: .05em;
    margin: 2em 0 0 0;
}

.peopleTitle h2
{
    font-size: 25px;
}

/*********************************************************************************/
/* Media Queries                                                                 */
/*********************************************************************************/

@media screen and (max-width: 720px) {
/*To fix formatting for small browsers*/

    .card{
        width: 25vw;
    }

    .card article h1{
        font-size: 12px;
    }

    .card article span{
        font-size: 10px;
    }
    
    .cardBody p{
        font-size: 10px;
    }

    .card h1{
        font-size: 10px;
    }
    
    .cardFace{
        width: 25vw;
    }



}

@media screen and (max-width: 500px) {
/*To fix formatting on mobile*/
    .card article h1{
        font-size: 9px;
    }

    .card article span{
        font-size: 7px;
    }
}

@media screen and (max-width: 430px) {
    /*To fix formatting on mobile*/
        .card article h1{
            font-size: 7px;
        }
    
        .card article span{
            font-size: 7px;
        }
    }





@media screen and (min-width: 430px) 
{
    .band 
    {
        grid-gap: 20px;
    }

    .peopleList h1 
    {
        font-size: 12px;
    }

    .personBio h1
    {
        font-size: 25px;
    }

    .card span 
    {
        font-size: 9px;
        font-weight: bold;
        color: #999;
        text-transform: capitalize; /*uppercase;*/
        letter-spacing: .05em;
        margin: 2em 0 0 0;
    }

    .card article
    {
        padding: 10px;
    }

    .peopleTitle h2
    {
        font-size: 30px;
    }
}

@media screen and (min-width: 560px) 
{
    .personBio img 
    {
        padding-right: 20px;
        padding-bottom: 20px;
        width: 100%;
        height: auto;
        max-width: 200px;
        float: left;
    }

    .personBio h1
    {
        font-size: 30px;
    }

    .peopleList h1 
    {
        font-size: 18px;
    }

    .card span 
    {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: capitalize; /*uppercase;*/
        letter-spacing: .05em;
        margin: 2em 0 0 0;
    }
    
    .peopleTitle h2
    {
        font-size: 35px;
    }

    #header{
        text-align: center;
        font-size: 40px;
    }
}

    
.itemInner{
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 1000;
    position: relative;
    
    
}

.itemInner.is-flipped {
    transform: rotateY(180deg);
}

.cardFace{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
    

}

.cardFaceFront{

    align-items: center;
    justify-content: center;
}

.cardFaceFront h2{
    color: #fff;
    font-size: 12px;
}

.cardFaceFront p{
    font-size: 12px;
    font-weight: 700;

}

.frontContent span{
    /*text-shadow: 0 0 1px black;*/
    color: #999;
}

.cardFaceBack{
    background-color: #fff;
    transform:rotateY(180deg);
    
}

.cardContent{
    width: 100%;
    position: relative;
    

}

.cardHeader{
    position: relative;
    padding: 40px 15px 15px;
}

.cardHeader:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 25% 0;
}

.cardHeader h2{
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
}

#titleName{

    font-size: 26px;
    margin: 15px;
}
.cardBody{
    padding: 30px;
    color: black !important;
    display: block;
    padding-top: 0px;
    
    overflow-y: scroll;

}

.cardBody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.cardBody::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.cardBody::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: #555;
}

.cardBody h3{
    color: black !important;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.cardBody p {
    color: black !important;
    font-size: 18px;
    line-height: 1.2;
}

.cardBody a {
    margin-top: 10px;
    display: inline-block;
}

.itemInner h4{
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}

.itemInner p{
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
}

.contactLogo{
    align-content: center;
    margin-right: 15px;
    width: 20px;
    margin-bottom: 15px;

}

#scholar{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
