.peopleList{
    width: 100%;
}

.peopleBio{
    width: 70%;
    margin-left: 15%;
    background-color: red;
}

.personBio{
    width: 100%;
    height: 900px;
    background-color: rgb(248, 227, 220);
}

.boxA a, 
.boxB a, 
.boxC a{
    color: currentColor;
    text-decoration: none;
}

.longName{
    padding-top: 15px;
}



/* 

.peopleContainer{
    height: 600px;
    display: flex;
}

.peopleList{
    padding: 8%;
    height: 600px;
    background-color: rgb(224, 196, 250);
}

.peopleListTitle{
    width: 100%;
    text-align: center;
    font-size: 1.8em;
}

.peopleBio{
    background-color: rgb(202, 235, 202);
}

.person{
    width: 300px;
    float: left;
    margin: 10px 10px 0px 10px;
    text-align: center;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
}

.personName{
    font-size: 30px;
}

.person img{
    width: 270px;
    height: 285px;
}

.personTitle {
    font-size: 25px;
} */
