.peopleContainer{
    height: 600px;
    display: flex;
}

.peopleList{
    height: 600px;
    background-color: rgb(224, 196, 250);
}

.peopleBio{
    background-color: rgb(202, 235, 202);
}

.person{
    width: 300px;
    float: left;
    margin: 0px 10px;
    text-align: center;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
}

.personName{
    font-size: 30px;
}

.person img{
    width: 270px;
    height: 285px;
}

.personTitle {
    font-size: 25px;
}