#triangle polygon{
    fill: transparent;
    stroke: black;
    stroke-width: 1%;
}
table, th, td {
    border:1px solid black;
}

@font-face {
    font-family: 'lmmath';
    src: url('lmmath-regular.otf') format('opentype');
}

.len_label {
    font-family: 'lmmath', sans-serif;
    font-style: italic;
    font-size: 24.96px;
}

.len_label1 {
    font-family: 'lmmath', sans-serif;
    font-size: 15px;
}

.ang_label {
    font-size: 24.96px;
}

.ang_label1 {
    font-family: 'lmmath', sans-serif;
    font-style: italic;
    font-size: 24.96px;
}

.ang_label2 {
    font-family: 'lmmath', sans-serif;
    font-size: 15px;
}

table{
    display: inline-block;
}

.wrapper{
    text-align: center;
}